@use "./variables" as *;

.board-container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .board-content {
    border: 1px solid lightgray;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 350px;
    height: 350px;
    }
}